<br>
{{#if errors}}
    {{#each errors}}
        <div class="alert alert-warning">
        <strong>Warning!</strong> {{msg}}.
        </div>
    {{/each}}
{{/if}}

{{#if error}}
    <div class="alert alert-warning">
        <strong>Warning!</strong> {{error}}.
    </div>
{{/if}}
<br>

<h4>Set new project</h4>
<form action="/cms/dashboard/individual/new_add" method="POST">
  <div class="form-group">
    <label for="project">Project Name:</label>
    <input type="text" class="form-control" name="project">
  </div>
    <div class="form-group">
    <label for="branch">Branch:</label>
    <input type="text" class="form-control" name="branch">
  </div>
    <div class="form-group">
    <label for="bitbucket_link">Bitbucket_link:</label>
    <div class="input-group mb-3">
    <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon3">https://</span>
  </div>
    <input type="text" class="form-control" id="basic-url" name="bitbucket_link" aria-describedby="basic-addon3" placeholder="Don't include https">
    </div>
  </div>
      <div class="form-group">
    <label for="client_name">Client Name:</label>
    <input type="text" class="form-control" name="client_name">
  </div>
  <div class="form-group">
    <label for="manager">Account Manager:</label>
    <input type="text" class="form-control" name="manager">
  </div>
  <div class="form-group">
    <label for="member">Developer:</label>
    <select class="custom-select" name="member">
        <option value="0"> </option>
      {{#each members}}
        <option value={{id}}>{{name}}</option>
      {{/each}}
    </select>
  </div>
      <div class="form-group">
    <label for="domains">Respective Domains:</label>
    <div class="input-group mb-3">
    <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon3">https://</span>
  </div>
    <input type="text" class="form-control" id="basic-url" name="domains" aria-describedby="basic-addon3" placeholder="Don't include https">
    </div>
  </div>
        <div class="form-group">
    <label for="ec2">EC2 SSH Url:</label>
    <div class="input-group mb-3">
    <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon3">https://</span>
  </div>
    <input type="text" class="form-control" id="basic-url" name="ec2" aria-describedby="basic-addon3" placeholder="Don't include https">
    </div>
  </div>
    <div class="form-group">
    <label for="pem">EC2 Pem File Name:</label>
    <input type="text" class="form-control" name="pem" placeholder="Ex: filename.pem">
  </div>

  
  {{!-- <div class="form-group">
    <label for="username">Username:</label>
    <input type="text" class="form-control" name="username">
  </div>
  <div class="form-group">
    <label for="username">Password:</label>
    <input type="password" class="form-control" name="passWord" id="password"><i class="far fa-eye" onclick="showPassword();"></i>
  </div> --}}
  <button type="submit" class="btn btn-primary">Submit</button>
  <a href="/cms/dashboard/individual/list"><button type="button" class="btn btn-light">Back</button></a>
</form>
