<br>
{{#if errors}}
    {{#each errors}}
        <div class="alert alert-warning">
        <strong>Warning!</strong> {{msg}}.
        </div>
    {{/each}}
{{/if}}
<br>
<h4>Set new passwords</h4>
<form action="/cms/dashboard/passwords/new_add" method="POST">
  <div class="form-group">
    <label for="site">Website:</label>
    <input type="text" class="form-control" name="website" required>
  </div>
    <div class="form-group">
    <label for="site">Login Url:</label>
    <div class="input-group mb-3">
    <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon3">https://</span>
  </div>
    <input type="text" class="form-control" id="basic-url" name="login" aria-describedby="basic-addon3">
    </div>
  </div>
  <div class="form-group">
    <div class="demo">
      <label for="site">Roles:</label>
      <input type="text" value="test" name="role" class="demo-default selectized" id="input-tags" tabindex="-1" style="display: block;">
    </div>
  {{!-- <select multiple data-role="tagsinput" class="custom-select" name="role">
   {{#each roles}}
    <option value={{title}}>{{title}}</option>
    {{/each}}
</select> --}}
  </div>
  <div class="form-group">
    <label for="username">Username:</label>
    <input type="text" class="form-control" name="username">
  </div>
  <div class="form-group">
    <label for="username">Password:</label>
    <input type="password" class="form-control" name="passWord">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
  <a href="/cms/dashboard/passwords/list"><button type="button" class="btn btn-light">Back</button></a>
</form>

    <script>
        var decodedJson = decodeURIComponent("{{encodedJson}}");
        var jsonObj = JSON.parse(JSON.parse(JSON.stringify(decodedJson)));
        var data = jsonObj;
        var items = data.map(function(x) { return { item: x.title }; });

        $('#input-tags').selectize({
            delimiter: ',',
            persist: false,
            maxItems: 4,
            options: items,
            labelField: "item",
            valueField: "item",
            sortField: 'item',
            searchField: 'item'
        });
    </script>