
<br>
<div class="dropdown">
  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
    Add
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" id="project">Project</a>
    <a class="dropdown-item" id="website">Website</a>
  </div>
</div>



<script>
$(document).ready(function(){
  $(".dropdown-menu .dropdown-item").click(function(e){
   // console.log($(this).attr("id"));
    
    var currentId = $(this).attr("id");
    if(currentId === "website"){
      $(".website").show();
      $(".project").hide();
    }
    else{
      $(".project").show();
      $(".website").hide();
    }
  })


  $(".submission_website").submit(function(event){
    event.preventDefault();

   var website = document.getElementsByName("wname")[0].value;
   var login = document.getElementsByName("login")[0].value;
   var roles = document.getElementsByName("roles")[0].value;
   var members = document.getElementsByName("members")[0].value;
   var username = document.getElementsByName("username")[0].value;
   var password = document.getElementsByName("password")[0].value;


    let requestObj = {
    "name": website,
    "login": login,
    "roles": roles,
    "members": members,
    "username": username,
    "password": password
    };

   // console.log(requestObj)
    $.post('/cms/dashboard/website/new_add',requestObj)
    .done(function (responce) {
    // alert("website is added");
    console.log(responce);
    window.location.href = '/cms/dashboard/credentials/list';

    })
    .fail(function (error) {
      console.log(error)
    });
 
  })
  

  $(".submission_project").submit(function(event){
    event.preventDefault();
    
      var project = document.getElementsByName("name")[0].value;
      var branch = document.getElementsByName("branch")[0].value;
      var bitbucket_link = document.getElementsByName("bitbucket_link")[0].value;
      var client_name = document.getElementsByName("client_name")[0].value;
      var manager = document.getElementsByName("manager")[0].value;
      var domains = document.getElementsByName("domains")[0].value;
      var role = document.getElementsByName("role")[0].value;
      var member = document.getElementsByName("member")[0].value;
      var ec2 = document.getElementsByName("ec2")[0].value;
      var pem = document.getElementsByName("pem")[0].value;
    
      let requestObj = {
      "pname": project,
      "branch": branch,
      "bitbucket_link": bitbucket_link,
      "client_name": client_name,
      "manager": manager,
      "domains": domains,
      "role": role,
      "member": member,
      "ec2": ec2,
      "pem": pem
      };  

      console.log(requestObj)
      $.post('/cms/dashboard/project/new_add',requestObj)
      .done(function (responce) {
     // console.log(responce);
      window.location.href = '/cms/dashboard/credentials/list';
      })
      .fail(function (error) {
        console.log(error)
      });

  })

});
</script>

<div class="website" style="display: none;">
<br>
  <h4>Add New Website  </h4> 
  <hr>

<form method="POST" class="submission_website">
  <div class="form-group">
    <label for="website">Website:</label>
    <input type="text" class="form-control" name="wname">
  </div>

      <div class="form-group">
    <label for="url">Login Url:</label>
    <div class="input-group mb-3">
    <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon3">https://</span>
  </div>
    <input type="text" class="form-control" id="basic-url" name="login" aria-describedby="basic-addon3">
    </div>
  </div>
  <div class="form-group">
    <div class="demo">
      <label for="role">Role:</label>
      <input type="text" value="test" name="roles" class="demo-default selectized" id="input-tags1" tabindex="-1" style="display: block;">
    </div>
  </div>
    <div class="form-group">
    <div class="demo">
      <label for="member">Member:</label>
      <input type="text" value="test" name="members" class="demo-default selectized" id="select-to1" tabindex="-1" style="display: block;">
    </div>
  </div>
  <div class="form-group">
    <label for="username">Username:</label>
    <input type="text" class="form-control" name="username">
  </div>
  <div class="form-group">
    <label for="password">Password:</label>
    <input type="text" class="form-control" name="password">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
  <a href="/cms/dashboard/credentials/list"><button type="button" class="btn btn-light">Back</button></a>
  <br>
</form>
</div>

<div class="project" style="display: none;">

<br>
  <h4>Add New Project </h4>
  <hr>
<form method="POST" class="submission_project" >
  <div class="form-group">
    <label for="site">Project Name:</label>
    <input type="text" class="form-control" name="name" >
  </div>
    <div class="form-group">
    <label for="site">Branch:</label>
    <input type="text" class="form-control" name="branch" >
  </div>
    <div class="form-group">
    <label for="site">Bitbucket_link:</label>
    <div class="input-group mb-3">
    <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon3">https://</span>
  </div>
    <input type="text" class="form-control" id="basic-url" name="bitbucket_link" aria-describedby="basic-addon3" placeholder="Don't include https">
    </div>
  </div>
      <div class="form-group">
    <label for="site">Client Name:</label>
    <input type="text" class="form-control" name="client_name" >
  </div>
  <div class="form-group">
    <label for="site">Account Manager:</label>
    <input type="text" class="form-control" name="manager" >
  </div>
  <div class="form-group">
    <div class="demo">
      <label for="role">Role:</label>
      <input type="text" value="test" name="role" class="demo-default selectized" id="input-tags" tabindex="-1" style="display: block;">
    </div>
  </div>
    <div class="form-group">
    <div class="demo">
      <label for="member">Member:</label>
      <input type="text" value="test" name="member" class="demo-default selectized" id="select-to" tabindex="-1" style="display: block;">
    </div>
  </div>
      <div class="form-group">
    <label for="site">Respective Domains:</label>
    <div class="input-group mb-3">
    <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon3">https://</span>
  </div>
    <input type="text" class="form-control" id="basic-url" name="domains" aria-describedby="basic-addon3" placeholder="Don't include https">
    </div>
  </div>
        <div class="form-group">
    <label for="site">EC2 SSH Url:</label>
    <div class="input-group mb-3">
    <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon3">https://</span>
  </div>
    <input type="text" class="form-control" id="basic-url" name="ec2" aria-describedby="basic-addon3" placeholder="Don't include https">
    </div>
  </div>
    <div class="form-group">
    <label for="username">Pem File Name:</label>
    <input type="text" class="form-control" name="pem" >
  </div>

  
  {{!-- <div class="form-group">
    <label for="username">Username:</label>
    <input type="text" class="form-control" name="username">
  </div>
  <div class="form-group">
    <label for="username">Password:</label>
    <input type="password" class="form-control" name="passWord" id="password"><i class="far fa-eye" onclick="showPassword();"></i>
  </div> --}}
  <button type="submit" class="btn btn-primary">Submit</button>
  <a href="/cms/dashboard/credentials/list"><button type="button" class="btn btn-light">Back</button></a>
  <br>
</form>

</div>

    <script>
          
        var decodedRole = decodeURIComponent("{{encodedRole}}");
        var jsonObj = JSON.parse(JSON.parse(JSON.stringify(decodedRole)));
        var data = jsonObj;
       // var items = data.map(function(x) { return { item: x.title }; });

        var decodedMember = decodeURIComponent("{{encodeMember}}");
        var jsonObj1 = JSON.parse(JSON.parse(JSON.stringify(decodedMember)));
        var data1 = jsonObj1;



      $('#select-to').selectize({
      persist: false,
      maxItems: null,
      valueField: 'email',
      labelField: 'name',
      searchField: ['name', 'email'],
      options: data1
      });

      $('#select-to1').selectize({
      persist: false,
      maxItems: null,
      valueField: 'email',
      labelField: 'name',
      searchField: ['name', 'email'],
      options: data1
      });

        $('#input-tags').selectize({
            delimiter: ',',
            persist: false,
            maxItems: 4,
            options: data,
            labelField: "title",
            valueField: "title",
            sortField: 'title',
            searchField: 'title'
        });

        $('#input-tags1').selectize({
            delimiter: ',',
            persist: false,
            maxItems: 4,
            options: data,
            labelField: "title",
            valueField: "title",
            sortField: 'title',
            searchField: 'title'
        });
            function showPassword() {
        var x = document.getElementById("password");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }


    
    </script>