

<h4>Set new passwords</h4>
<form action="" method="POST">
  <div class="form-group">
    <label for="site">Site:</label>
    <input type="url" class="form-control" name="site">
  </div>
  <div class="form-group">
    <label for="username">Username:</label>
    <input type="text" class="form-control" name="username">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
  <a href="/cms/dashboard/passwords"><button type="button" class="btn btn-light">Back</button></a>
</form>